body,
select,
textarea,
input[type='tel'],
input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'],
.btn,
.filter button,
.nav-wrap .nav a,
.mobile-nav .nav a {
  font-family: "Open Sans";
}

.logo,
.site-title {
  font-family: "Fredoka One";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
}

.head-bg:before {
  background-color: rgba(44, 51, 64, 0.8);
}

.blue-theme a,
.blue-theme blockquote:before,
.blue-theme .contact-map .contact-info a:hover,
.blue-theme .interests-list i,
.blue-theme .input-field.used label,
.blue-theme .logo span,
.blue-theme #map .map-icon,
.blue-theme .head-cont .btn-mobile,
.blue-theme .page-404 h2 span,
.blue-theme .post-box .post-title a:hover,
.blue-theme .post-single .post-title a:hover,
.blue-theme .post-comments .section-title,
.blue-theme .ref-box .person-speech:before,
.blue-theme .service-icon,
.blue-theme .statistic-value,
.blue-theme .service-sub-title,
.blue-theme .timeline-box .date,
.blue-theme .widget-title,
.blue-theme .widget_search label:before,
.blue-theme .widget_search .search-form:before,
.blue-theme .widget_meta ul li a:hover,
.blue-theme .widget_archive ul li a:hover,
.blue-theme .widget_nav_menu ul li a:hover,
.blue-theme .widget_categories ul li a:hover,
.blue-theme .widget_recent_entries ul li a:hover,
.blue-theme .widget_recent_comments ul li a:hover,
.blue-theme .widget-popuplar-posts .post-title a:hover,
.blue-theme .widget-recent-posts .post-title a:hover {
  color: #34AEE8;
}

.blue-theme .head-nav .sub-menu li:hover>a,
.blue-theme .head-nav .sub-menu li.active,
.blue-theme .head-lang .lang-list a:hover {
  color: #34AEE8 !important;
}

.blue-theme ins,
.blue-theme mark,
.blue-theme .btn-primary,
.blue-theme .btn-primary-outer,
.blue-theme .btn-sidebar-close,
.blue-theme .calendar-today .date,
.blue-theme .calendar-body .busy-day,
.blue-theme .calendar-body td .current-day,
.blue-theme .filter .active:after,
.blue-theme .filter-bar .filter-bar-line,
.blue-theme .input-field .line:before,
.blue-theme .input-field .line:after,
.blue-theme .mobile-nav,
.blue-theme .head-nav .nav>ul>li>a:after,
.blue-theme .post-datetime,
.blue-theme .profile-social,
.blue-theme .profile-preword span,
.blue-theme .progress-bar .bar-fill,
.blue-theme .progress-bar .bar-line:after,
.blue-theme .price-box.box-primary .btn,
.blue-theme .price-box.box-primary .price-box-top,
.blue-theme .profile-list .button,
.blue-theme .pagination .page-numbers.current,
.blue-theme .pagination .page-numbers.current:hover,
.blue-theme .pagination .page-numbers:active,
.blue-theme .pagination .page-numbers.next:active,
.blue-theme .pagination .page-numbers.prev:active,
.blue-theme .timeline-bar,
.blue-theme .timeline-box .dot,
.blue-theme .timeline-box-compact .date span,
.blue-theme .widget_tag_cloud a:hover,
.blue-theme .wpcf7-form .wpcf7-submit {
  background-color: #34AEE8;
}

.blue-theme .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.blue-theme .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #34AEE8;
}

.blue-theme .timeline-box-inner,
.blue-theme .price-box.box-primary .btn,
.blue-theme .widget_search .search-form,
.blue-theme .widget_tag_cloud a:hover,
.blue-theme .wpcf7-form .wpcf7-form-control:focus {
  border-color: #34AEE8;
}

.blue-theme .page-404 h2 span:before,
.blue-theme .profile-preword span:before,
.blue-theme .timeline-box-compact .date span:before {
  border-left-color: #34AEE8;
}

.blue-theme .price-box.box-primary .price-box-top:before {
  border-top-color: #34AEE8;
}
.box-padding{padding: 50px 40px;}
.success{color:#4BB543;}
.danger{color:#B33A3A;}
.contact-response{margin-top: 10px;}
.contact-loader{
  display: inline-block;
  font-size: 23px;
  height: 23px;
  line-height: 1;
  margin: .5em;
  animation: anim-rotate 3s infinite linear;
  color: rgb(52, 174, 232);
}
@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}